@use "../abstracts" as a;

.faq-title {
  @include a.page-title;
}

.faq-p {
  margin-bottom: 2rem;
}

.faq-container {
  margin: 5rem;
  @include a.small-screen {
    margin: 1.2rem;
  }
}

.accordion-container {
  max-width: 50rem;
}
