@use "../abstracts" as *;
@use "../base" as b;

.m-top {
  margin-top: 2rem;
}

.m-btm {
  margin-bottom: 2rem;
}

.filter-container-hidden {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  max-width: 20rem;
  @include medium-screen {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  }
}

.filter-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-list-heading {
  font-weight: 500;
}

.filter-checkbox {
  padding-bottom: 1rem;
  input[type="checkbox"] {
    padding: 0.5rem;
    margin-right: 8px;
    color: #57534f;
    border-radius: 0.2rem;
  }

  label {
    font-style: normal;
    margin-bottom: 2rem;
  }
}

.filter-button {
  min-width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.filter-subcategory {
  width: 20rem;
}

.filter-all-container {
  @include medium-screen {
    background-color: #f2f0ee;
    margin: 1rem;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    padding-bottom: 0.1rem;
  }
}

.test {
  @include medium-screen {
    display: flex;
    flex-wrap: wrap;
  }

  @include xs-screen {
    display: flex;
    flex-direction: column;
  }
}
.accordion-button {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  min-width: 16rem;
  @include medium-screen {
    min-width: 20rem;
    display: flex;
    background-color: b.$lighter-brown;
    border-radius: 0.2rem;
  }
  @include small-screen {
    min-width: 15rem;
    display: flex;
  }
  @include xs-screen {
    min-width: 100%;
    display: flex;
  }
}

.button-up,
.button-down {
  position: relative;
  margin-top: 0.3rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  @include medium-screen {
    margin-top: 0rem;
  }
}

.button-up::after,
.button-down::after {
  content: "";
  z-index: 11;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
}
.button-up::after {
  top: 20px;
  margin-top: 0.5rem;
  transform: rotate(45deg);
}

.button-down::after {
  top: 20px;
  margin-top: 0.2rem;
  transform: rotate(225deg);
}

.checkbox-list {
  visibility: visible;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.checkbox-list-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.clear-filter {
  background-color: #57534f;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px white;

  &:hover,
  &:focus {
    background-color: $btn-color;
    color: black;
  }
}

.mobile-filter {
  display: none;
  @include medium-screen {
    display: block;
    background-color: b.$lighter-brown;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
  }
  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: white;
  }
  @include xs-screen {
    margin-top: 1rem;
  }
}
