@use "../abstracts" as *;
@use "../base" as b;

.m-top {
  margin-top: 2rem;
}

.m-btm {
  margin-bottom: 2rem;
}

.fieldset-container {
  display: flex;
  flex-wrap: wrap;
}

.big-screens {
  h3 {
    font-weight: 500;
  }
}

.fieldset {
  width: 100%;
  border-radius: 0.2rem;
  min-width: 17rem;
  margin-right: 1rem;
  cursor: pointer;
  legend {
    font-weight: 500;
    width: 100%;
    padding: 0.8rem;
    border: none;
    @include medium-screen {
      border-radius: 0.2rem;
      background-color: b.$lighter-brown;
    }
  }
  button {
    width: 100%;
  }
  @include medium-screen {
    width: 45%;
    border-radius: 0.2rem;
    margin: 0.5rem;
  }
  @include small-screen {
    width: 100%;
  }
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container-hidden {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  @include medium-screen {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  }
}

.filter-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  width: 100%;
  border: solid b.$lighter-brown 1px;
  border-radius: 0.3rem;
  padding: 1rem;
  @include medium-screen {
    background-color: #ffff;
    border: none;
  }
}

.h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-checkbox {
  padding-bottom: 1rem;
  input[type="checkbox"] {
    padding: 0.5rem;
    margin-right: 8px;
    color: #57534f;
    border-radius: 0.2rem;
  }

  label {
    font-style: normal;
    margin-bottom: 2rem;
  }
}

.filter-button {
  min-width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.button-up,
.button-down {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.button-up::after,
.button-down::after {
  content: "";
  z-index: 11;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
}
.button-up::after {
  top: 20px;
  margin-top: 0.6rem;
  transform: rotate(45deg);
}

.button-down::after {
  top: 20px;
  margin-top: 0.2rem;
  transform: rotate(225deg);
}

.checkbox-list {
  visibility: visible;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.checkbox-list-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.clear-filter {
  background-color: #57534f;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px white;

  &:hover,
  &:focus {
    background-color: $btn-color;
    color: black;
  }
}

.mobile-filter {
  display: none;
  @include medium-screen {
    display: block;
    background-color: b.$lighter-brown;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
  }
  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: white;
  }
  @include xs-screen {
    margin-top: 1rem;
  }
}
