@use "../abstracts" as a;
@use "../base" as b;

.main-footer {
  background-color: #57534e;
}

.main-footer-container {
  word-break: break-all;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  max-width: 1500px;
  margin: 0 auto;
  @include a.medium-screen {
    display: block;
    padding: 3rem;
  }
  @include a.xxs-screen {
    padding: 0.2rem;
  }
}

.footer-p {
  color: b.$light-font-color;
  margin-top: 1rem;
}

.m-center {
  margin: 0 auto;
  padding-top: 1rem;
}

.footer-p-inner {
  color: b.$light-font-color;
  margin-top: 1rem;
  @include a.medium-screen {
    margin-top: 1rem;
  }
}

.footer-rubrik {
  color: b.$light-font-color;
  font-size: 1.2rem;
  font-weight: 600;
  @include a.medium-screen {
    margin-top: 3rem;
  }
}
