// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as a;
@use "../base" as b;

.navbar-container {
  background-color: #57534f;
  width: 100%;
}

.navbar-flexbox {
  color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  max-width: 103rem;
  margin: 0 auto;
  @include a.medium-screen {
    display: block;
  }
}

.mobile-view-container {
  width: 100%;
  @include a.medium-screen {
    display: flex;
    justify-content: space-between;
  }
}

.home-text {
  font-size: 2rem;
}

.nav-ul {
  display: flex;

  li {
    margin-left: 3rem;
    min-width: 7rem;
    @include a.medium-screen {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  @include a.medium-screen {
    margin-top: 4rem;
    flex-direction: column;
  }
}

.mobile-menu {
  display: none;
  @include a.medium-screen {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}

.mobile-menu-hidden {
  @include a.medium-screen {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  }
}

.mobile-menu-open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  @include a.medium-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #57534f;
    z-index: 9999;
  }
}

.hamburger-container {
  padding-right: 0.5rem;
  span {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.1s;
    display: block;
  }
}

.change {
  .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: translate(0, -7px) rotate(45deg);
  }
}
