@use "../abstracts" as a;
@use "../base" as b;

.other-statistics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3rem;

  @include a.small-screen {
    margin: 1rem;
    align-items: flex-start;
  }
  @include a.xxs-screen {
    flex-direction: column;
    align-items: center;
  }
}

.all-statistics-text {
  h2 {
    font-size: 4rem;
    font-weight: 700;
    @include a.xxs-screen {
      font-size: 3.5rem;
    }
  }
}

.hund-ikon {
  @include a.xxs-screen {
    display: none;
  }
}

.other-statistics-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  h3 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1rem;
    @include a.medium-screen {
      font-size: 0.9rem;
    }
  }
  @include a.small-screen {
    width: 48%;
    padding: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
