@use "../abstracts" as a;
@use "../base" as b;

.fotografer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
  h3 {
    font-size: 1.7rem;
    padding-bottom: 0.4rem;
  }
  @include a.medium-screen {
    display: block;
    img {
      width: 50%;
      border-radius: 0.5rem 0rem 0rem 0.5rem;
    }
  }
  @include a.xs-screen {
    img {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
  }
  @include a.xxs-screen {
    img {
      display: none;
    }
  }
}

.fotograf-text-content {
  padding: 1rem;
  @include a.xs-screen {
    padding: 0.2rem;
  }
}

.fotografer-role,
.fotogafer-stad {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 1rem;
  color: #3d3a38;
  margin-bottom: 0.3rem;
}

.fotogafer-stad {
  text-transform: none;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #75726c;
}

.fotograf-container {
  max-width: 45%;
  margin: 1rem;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @include a.medium-screen {
    max-width: 100%;
    display: flex;
    margin-bottom: 2rem;
  }
  @include a.xs-screen {
    max-width: 100%;
    display: block;
    margin: 0rem;
    margin-bottom: 2rem;
  }
}

.all-page-padding {
  padding: 2rem;
  @include a.small-screen {
    padding: 1rem;
  }
  @include a.xxs-screen {
    padding: 0rem;
  }
}

.break-word {
  @include a.small-screen {
    word-wrap: break-word;
  }
}
