$breakpoints: (
  sm: 450px,
  md: 680px,
  lg: 900px,
  xl: 1023px,
);

@mixin respond-to-max($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint name: #{$breakpoint}.";
  }
}

$breakpoints: (
  sm: 450px,
  md: 680px,
  lg: 900px,
  xl: 1023px,
);

@mixin respond-to-min($breakpoint) {
  @if map-has-key($breakpoint-mins, $breakpoint) {
    @media (min-width: map-get($breakpoint, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint name: #{$breakpoint}.";
  }
}

@mixin accordion-button {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;

  &.accordion-content-visible {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
  }
}

@mixin sub-color {
  background-color: #dbd1c7;
}

.m-top {
  margin-top: 2rem;
}

.m-btm {
  margin-bottom: 2rem;
}

@mixin heading-h2 {
  font-size: 1.5rem;
}

.filter-sidebar-container {
  max-width: 20rem;
  @include respond-to-max(xl) {
    display: none;
  }
}
.h2 {
  @include heading-h2();
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-list-heading {
  font-weight: 500;
}

.filter-checkbox {
  padding-bottom: 1rem;
  input[type="checkbox"] {
    padding: 0.5rem;
    margin-right: 8px;
    color: #57534f;
    border-radius: 0.2rem;
  }

  label {
    font-style: normal;
    margin-bottom: 2rem;
  }
}

.filter-button {
  min-width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.filter-subcategory {
  line-height: 2rem;
}

.accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

.button-up,
.button-down {
  position: relative;
  margin-top: 0.3rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.button-up::after,
.button-down::after {
  content: "";
  z-index: 11;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
}
.button-up::after {
  top: 20px;
  margin-top: 0.5rem;
  transform: rotate(45deg);
}

.button-down::after {
  top: 20px;
  margin-top: 0.2rem;
  transform: rotate(225deg);
}

.checkbox-list {
  visibility: visible;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.checkbox-list-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.clear-filter {
  @include sub-color();
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
}

.mobile-filter {
  display: none;
  padding: 1rem;
  @include respond-to-max(xl) {
    display: block;
  }
}

.filter-ipad-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  @media (min-width: 1024px) {
    .filter-ipad-container {
      display: none;
    }
  }
}

.filter-ipad-container-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}
