/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

li {
  list-style: none;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.accordion {
  padding: 1rem;
  background-color: #e1ded8;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordion-open {
  border: solid 1px #e1ded8;
  padding: 2rem 1rem;
}

.checkboxlabel {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.checkbox-input {
  border-radius: 0.1rem;
  margin-right: 0.5rem;
  padding: 0.7rem;
}

.checkbox-container {
  margin-top: 0.5rem;
}

.checkbox-item {
  margin-left: 0.3rem;
} 
.m-top {
  margin-top: 2rem;
}

.m-btm {
  margin-bottom: 2rem;
}

.filter-container-hidden {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  max-width: 20rem;
}
@media (max-width: 1023px) {
  .filter-container-hidden {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  }
}

.filter-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-list-heading {
  font-weight: 500;
}

.filter-checkbox {
  padding-bottom: 1rem;
}
.filter-checkbox input[type=checkbox] {
  padding: 0.5rem;
  margin-right: 8px;
  color: #57534f;
  border-radius: 0.2rem;
}
.filter-checkbox label {
  font-style: normal;
  margin-bottom: 2rem;
}

.filter-button {
  min-width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.filter-subcategory {
  width: 20rem;
}

.filter-all-container {
  width: 100%;
}

.accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

.button-up,
.button-down {
  position: relative;
  margin-top: 0.3rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.button-up::after,
.button-down::after {
  content: "";
  z-index: 11;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
}

.button-up::after {
  top: 20px;
  margin-top: 0.5rem;
  transform: rotate(45deg);
}

.button-down::after {
  top: 20px;
  margin-top: 0.2rem;
  transform: rotate(225deg);
}

.checkbox-list {
  visibility: visible;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.checkbox-list-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.clear-filter {
  background-color: #c9c3bb;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
}

.mobile-filter {
  display: none;
  padding: 1rem;
}
@media (max-width: 1023px) {
  .mobile-filter {
    display: block;
  }
}

.dog-name {
  color: rgb(55, 65, 81);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dog-list-title {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  padding-left: 0.75rem;
}

.new-dog-name {
  color: rgb(55, 65, 81);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 0.2rem;
  color: rgb(92, 92, 92);
  font-weight: 550;
}

.photo-date {
  color: rgb(92, 92, 92);
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.main-footer {
  background-color: #57534e;
}

.main-footer-container {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .main-footer-container {
    display: block;
    padding: 3rem;
  }
}

.footer-p {
  color: #e7e5e4;
  margin-top: 1rem;
}

.m-center {
  margin: 0 auto;
  padding-top: 1rem;
}

.footer-p-inner {
  color: #e7e5e4;
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .footer-p-inner {
    margin-top: 1rem;
  }
}

.footer-rubrik {
  color: #e7e5e4;
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .footer-rubrik {
    margin-top: 3rem;
  }
}

.single-dog-main {
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 1280px;
}
@media (max-width: 768px) {
  .single-dog-main {
    padding-left: 4rem;
    padding-top: 2rem;
    padding-right: 4rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .single-dog-main {
    padding: 2rem 2rem;
  }
}

.singel-dog-container {
  display: flex;
}
@media (max-width: 1024px) {
  .singel-dog-container {
    display: block;
  }
}

.single-dog-img {
  border-radius: 0.5rem;
  max-width: 100%;
  margin-top: 2rem;
}

.dog-single-title {
  font-weight: 700;
  font-size: 2.2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.relatives-card {
  background-color: #f5f5f4;
  padding: 5rem;
  border-radius: 0.25rem;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .relatives-card {
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.info-card {
  background-color: #f5f5f4;
  padding: 3rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .info-card {
    display: block;
  }
}

.dog-info-title {
  font-weight: 600;
}

.dog-info-p {
  margin-top: 0.5rem;
}

.photo-date-p {
  margin-top: 1rem;
}

.parents-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.parents-container {
  margin-bottom: 1.5rem;
}

.aussie-logo {
  margin: 5rem;
  padding-right: 3rem;
  max-height: 8rem;
  opacity: 0.2;
}
@media (max-width: 1024px) {
  .aussie-logo {
    display: none;
  }
}

.single-dog-head-img {
  border-radius: 0.5rem;
  max-height: 54.7rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 1280px) {
  .single-dog-head-img {
    max-height: 40rem;
  }
}
@media (max-width: 1024px) {
  .single-dog-head-img {
    max-height: 60rem;
    margin-top: 2rem;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .single-dog-head-img {
    max-height: 40rem;
  }
}

.dogpage-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .dogpage-header {
    display: block;
  }
}

.page-title {
  font-weight: 700;
  font-size: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.search-filter-container {
  display: flex;
  justify-content: space-between;
}

.faq-title {
  color: rgb(55, 65, 81);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.faq-p {
  margin-bottom: 2rem;
}

.faq-container {
  margin: 5rem;
}
@media (max-width: 768px) {
  .faq-container {
    margin: 1.2rem;
  }
}

.accordion-container {
  max-width: 50rem;
}/*# sourceMappingURL=main.css.map */