/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

li {
  list-style: none;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.accordion {
  padding: 1rem;
  background-color: #e1ded8;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordion-open {
  border: solid 1px #e1ded8;
  padding: 2rem 1rem;
}

.checkboxlabel {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.checkbox-input {
  border-radius: 0.1rem;
  margin-right: 0.5rem;
  padding: 0.7rem;
}

.checkbox-container {
  padding: 0.5rem;
}

.checkbox-item {
  margin-left: 0.3rem;
}

.m-top {
  margin-top: 2rem;
}

.m-btm {
  margin-bottom: 2rem;
}

.fieldset-container {
  display: block;
}
@media (max-width: 1024px) {
  .fieldset-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.big-screens h3 {
  font-weight: 500;
}

.fieldset {
  border-radius: 0.2rem;
  max-width: 17rem;
  min-width: 17rem;
  margin-right: 1rem;
  cursor: pointer;
}
.fieldset legend {
  font-weight: 500;
  min-width: 100%;
  padding: 0.8rem;
  border: none;
}
@media (max-width: 1024px) {
  .fieldset legend {
    border-radius: 0.2rem;
    background-color: #e1ded8;
  }
}
.fieldset button {
  width: 100%;
}
@media (max-width: 1024px) {
  .fieldset {
    width: 45%;
    border-radius: 0.2rem;
    margin: 0.5rem;
  }
}
@media (max-width: 768px) {
  .fieldset {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .fieldset {
    margin-left: 0rem;
    min-width: 0rem;
  }
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container-hidden {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
}
@media (max-width: 1024px) {
  .filter-container-hidden {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  }
}

.filter-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
  width: 100%;
  border: solid #e1ded8 1px;
  border-radius: 0.3rem;
  padding: 1rem;
}
@media (max-width: 1024px) {
  .filter-container {
    background-color: white;
    border: none;
  }
}
@media (max-width: 300px) {
  .filter-container {
    padding: 0.2rem;
  }
}

.h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-checkbox {
  padding-bottom: 1rem;
}
.filter-checkbox input[type=checkbox] {
  padding: 0.5rem;
  margin-right: 8px;
  color: #57534f;
  border-radius: 0.2rem;
}
.filter-checkbox label {
  font-style: normal;
  margin-bottom: 2rem;
}

.filter-button {
  min-width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.button-up,
.button-down {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.button-up::after,
.button-down::after {
  content: "";
  z-index: 11;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
}

.button-up::after {
  top: 20px;
  margin-top: 0.6rem;
  transform: rotate(45deg);
}

.button-down::after {
  top: 20px;
  margin-top: 0.2rem;
  transform: rotate(225deg);
}

.checkbox-list {
  visibility: visible;
  display: flex;
  align-items: start;
  flex-direction: column;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: visibility 0s linear, opacity 0.2s linear;
}

.checkbox-list-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.clear-filter {
  background-color: #57534f;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px white;
}
.clear-filter:hover, .clear-filter:focus {
  background-color: #c9c3bb;
  color: black;
}

.mobile-filter {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-filter {
    display: block;
    background-color: #e1ded8;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
  }
}
.mobile-filter:hover, .mobile-filter:focus {
  background-color: rgb(68, 68, 68);
  color: white;
}
@media (max-width: 640px) {
  .mobile-filter {
    margin-top: 1rem;
  }
}

.dog-name {
  color: rgb(55, 65, 81);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (max-width: 640px) {
  .dog-name {
    margin-bottom: 0rem;
  }
}

.dog-list-title {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  padding-left: 0.75rem;
}

.dog-page-container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 103rem;
}
@media (max-width: 640px) {
  .dog-page-container {
    padding: 1rem;
    padding-top: 0rem;
  }
}
@media (max-width: 300px) {
  .dog-page-container {
    padding: 0.2rem;
    padding-top: 0rem;
  }
}

.doglist-container {
  display: flex;
}
@media (max-width: 1024px) {
  .doglist-container {
    display: block;
  }
}

.dog-ul {
  display: flex;
  flex-wrap: wrap;
  transition: width 0.3s ease;
}
.dog-ul li {
  padding: 1rem;
}
@media only screen and (min-width: 1536px) {
  .dog-ul li {
    width: 25%;
  }
}
@media only screen and (max-width: 1536px) {
  .dog-ul li {
    width: 33.2%;
  }
}
@media only screen and (max-width: 1280px) {
  .dog-ul li {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .dog-ul li {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .dog-ul li {
    width: 100%;
    padding: 0.2rem;
  }
}
.dog-ul li img {
  border-radius: 0.3rem;
}

.new-dog-name {
  color: rgb(55, 65, 81);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 0.2rem;
  color: rgb(92, 92, 92);
  font-weight: 550;
}

.photo-date {
  color: rgb(92, 92, 92);
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.main-footer {
  background-color: #57534e;
}

.main-footer-container {
  word-break: break-all;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .main-footer-container {
    display: block;
    padding: 3rem;
  }
}
@media (max-width: 300px) {
  .main-footer-container {
    padding: 0.2rem;
  }
}

.footer-p {
  color: #e7e5e4;
  margin-top: 1rem;
}

.m-center {
  margin: 0 auto;
  padding-top: 1rem;
}

.footer-p-inner {
  color: #e7e5e4;
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .footer-p-inner {
    margin-top: 1rem;
  }
}

.footer-rubrik {
  color: #e7e5e4;
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .footer-rubrik {
    margin-top: 3rem;
  }
}

.navbar-container {
  background-color: #57534f;
  width: 100%;
}

.navbar-flexbox {
  color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  max-width: 103rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .navbar-flexbox {
    display: block;
  }
}
@media (max-width: 300px) {
  .navbar-flexbox {
    padding: 0.2rem;
  }
}

.menu-link:hover, .menu-link:active {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.active-link-hide {
  visibility: hidden;
}

.active-link {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.mobile-view-container {
  width: 100%;
  padding: 0.2rem;
}
.mobile-view-container img {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-view-container img {
    display: block;
    width: 50%;
    margin: 1rem;
  }
}
@media (max-width: 1024px) {
  .mobile-view-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 300px) {
  .mobile-view-container {
    display: block;
  }
}

@media (max-width: 300px) {
  .logga-hidden {
    display: none;
  }
}

.home-text {
  font-size: 2rem;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.nav-ul {
  display: flex;
}
.nav-ul li {
  margin-left: 3rem;
  min-width: 7rem;
}
@media (max-width: 1024px) {
  .nav-ul li {
    margin-left: 0rem;
    padding: 1rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 300px) {
  .nav-ul li {
    margin-left: 0rem;
    padding: 0.3rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  .nav-ul {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 300px) {
  .nav-ul {
    margin-top: 1rem;
    flex-direction: column;
    align-items: start;
  }
}

.mobile-menu {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}

.close-menu {
  margin-right: 1.5rem;
  margin-top: 0.2rem;
}

@media (max-width: 1024px) {
  .mobile-menu-hidden {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  }
}

.mobile-menu-open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s linear;
}
@media (max-width: 1024px) {
  .mobile-menu-open {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #57534f;
    z-index: 9999;
  }
}

.hamburger-container {
  padding-right: 0.5rem;
}
.hamburger-container span {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 4px 0;
  transition: 0.1s;
  display: block;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.search-filter-container {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .search-filter-container {
    display: block;
  }
}

.hidden {
  display: none;
}

.searchbar {
  display: flex;
  width: 100%;
}

.search-icon {
  background-color: #e1ded8;
  color: black;
  margin-right: 0.5rem;
  padding: 0.6rem;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}

.search-input {
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  border: solid 0.1rem #e1ded8;
  width: 20rem;
}
@media (max-width: 640px) {
  .search-input {
    width: 100%;
  }
}

.other-statistics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .other-statistics-container {
    margin: 1rem;
    align-items: flex-start;
  }
}
@media (max-width: 300px) {
  .other-statistics-container {
    flex-direction: column;
    align-items: center;
  }
}

.all-statistics-text h2 {
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 300px) {
  .all-statistics-text h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 300px) {
  .hund-ikon {
    display: none;
  }
}

.other-statistics-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}
.other-statistics-text h3 {
  font-size: 3.5rem;
  font-weight: 700;
}
.other-statistics-text p {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
}
@media (max-width: 1024px) {
  .other-statistics-text p {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .other-statistics-text {
    width: 48%;
    padding: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.fotografer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
}
.fotografer-grid img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.fotografer-grid h3 {
  font-size: 1.7rem;
  padding-bottom: 0.4rem;
}
@media (max-width: 1024px) {
  .fotografer-grid {
    display: block;
  }
  .fotografer-grid img {
    width: 50%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
}
@media (max-width: 640px) {
  .fotografer-grid img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
}
@media (max-width: 300px) {
  .fotografer-grid img {
    display: none;
  }
}

.fotograf-text-content {
  padding: 1rem;
}
@media (max-width: 640px) {
  .fotograf-text-content {
    padding: 0.2rem;
  }
}

.fotografer-role,
.fotogafer-stad {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 1rem;
  color: #3d3a38;
  margin-bottom: 0.3rem;
}

.fotogafer-stad {
  text-transform: none;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #75726c;
}

.fotograf-container {
  max-width: 45%;
  margin: 1rem;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .fotograf-container {
    max-width: 100%;
    display: flex;
    margin-bottom: 2rem;
  }
}
@media (max-width: 640px) {
  .fotograf-container {
    max-width: 100%;
    display: block;
    margin: 0rem;
    margin-bottom: 2rem;
  }
}

.all-page-padding {
  padding: 2rem;
}
@media (max-width: 768px) {
  .all-page-padding {
    padding: 1rem;
  }
}
@media (max-width: 300px) {
  .all-page-padding {
    padding: 0rem;
  }
}

@media (max-width: 768px) {
  .break-word {
    word-wrap: break-word;
  }
}

.single-dog-main {
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 1280px;
}
@media (max-width: 768px) {
  .single-dog-main {
    padding-left: 4rem;
    padding-top: 2rem;
    padding-right: 4rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .single-dog-main {
    padding: 2rem 2rem;
  }
}
@media (max-width: 300px) {
  .single-dog-main {
    padding: 0.2rem 0.2rem;
  }
}

.singel-dog-container {
  display: flex;
}
@media (max-width: 1024px) {
  .singel-dog-container {
    display: block;
  }
}

.single-dog-img {
  border-radius: 0.5rem;
  max-width: 100%;
  margin-top: 2rem;
}

.relatives-card {
  background-color: #f5f5f4;
  padding: 5rem;
  border-radius: 0.25rem;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .relatives-card {
    padding: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .relatives-card {
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.info-card {
  background-color: #f5f5f4;
  padding: 3rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.info-card h1 {
  font-weight: 700;
  font-size: 2.2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 1024px) {
  .info-card h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .info-card {
    display: block;
    padding: 1.5rem;
  }
}
@media (max-width: 300px) {
  .info-card {
    padding: 0.2rem;
  }
}

.dog-info-title {
  font-weight: 600;
}

.dog-info-p {
  margin-top: 0.5rem;
}

.photo-date-p {
  margin-top: 1rem;
}

.parents-name {
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .parents-name {
    font-size: 1rem;
    font-weight: 400;
  }
}

.parents-container {
  margin-bottom: 1.5rem;
}

.aussie-logo {
  margin: 5rem;
  padding-right: 3rem;
  max-height: 8rem;
  opacity: 0.2;
}
@media (max-width: 1024px) {
  .aussie-logo {
    display: none;
  }
}

.single-dog-head-img {
  border-radius: 0.5rem;
  max-height: 54.7rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 1280px) {
  .single-dog-head-img {
    max-height: 40rem;
  }
}
@media (max-width: 1024px) {
  .single-dog-head-img {
    max-height: 60rem;
    margin-top: 2rem;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .single-dog-head-img {
    max-height: 40rem;
  }
}

.dogpage-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .dogpage-header {
    display: block;
  }
}

.page-title {
  font-weight: 700;
  font-size: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.faq-title {
  color: rgb(55, 65, 81);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.faq-p {
  margin-bottom: 2rem;
}

.faq-container {
  margin: 5rem;
}
@media (max-width: 768px) {
  .faq-container {
    margin: 1.2rem;
  }
}

.accordion-container {
  max-width: 50rem;
}

.hero-puff {
  background-color: white;
  border-radius: 5rem;
  padding: 4rem;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .hero-puff {
    width: 80%;
  }
}
@media (max-width: 300px) {
  .hero-puff {
    width: 100%;
    padding: 0.2rem;
    border-radius: 0rem;
  }
}

.bg-hero {
  height: 40rem;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .bg-hero {
    height: 30rem;
  }
}
@media (max-width: 300px) {
  .bg-hero {
    height: 25rem;
  }
}

@media (max-width: 300px) {
  .heading-text {
    font-size: 2rem;
  }
}

body.mobile-menu-open {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */